{% extends "dashboard/base.html" %}

{% load account %}

{% block content %}

    <h1>Dashboard</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>username</th>
            <th>email</th>
        </tr>
        <tr>
            <td>
                {{ request.user.username }}
            </td>
            <td>
                {{ request.user.email }}
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{% url 'login_user_reset_password' %}" class="btn btn-warning">
        Reset Password
    </a>
{% endblock %}

