{% extends "dashboard/base.html" %}

{% load account %}

{% block content %}

    <h2>Resend Activation Email</h2>
    <form action="" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" disabled
                value="{{ request.user.email }}">
        </div>
        <button type="submit" class="btn btn-primary">Resend Activation Email</button>
    </form>
{% endblock %}

